/* ================= NAVBAR ================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid var(--border);
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
}

/* Desktop Links */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: var(--accent);
}

.nav-links a.active {
  color: var(--accent);
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
}

/* Theme Toggle */
.theme-toggle {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid var(--border);
  background: var(--card-bg);
  color: var(--text);
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-toggle:hover {
  background: var(--accent);
  color: white;
}
/* Overlay background */
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);  /* darker background */
  backdrop-filter: blur(4px);      /* smooth blur effect */
  -webkit-backdrop-filter: blur(4px);

  z-index: 1050;
}




/* Hide hamburger when menu is open */
/* Hide hamburger on desktop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--text);
}



/* ================= MOBILE ================= */

/* Hide close button on desktop */
.close-btn {
  display: none;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: 0;

    width: 260px;
    height: 100vh;

 background: var(--footer-bg);

    border-left: 1px solid var(--border);
    
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 30px 30px 30px;
    gap: 25px;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 1100;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .close-btn {
    display: block;   /* 👈 ADD THIS LINE */
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    color: var(--text);
  }
}

/* Default = Dark mode */
.navbar {
  background: rgba(30, 41, 59, 0.8);
  transition: 0.3s ease;
}

/* Light mode */
body.light .navbar {
  background:#9ce3ff  ;
}

/* Dark mode */
body.dark .navbar {
  background: rgba(30, 41, 59, 0.8);
}
