 /* ================= PROJECT SECTION ================= */

.projects {
  padding: 100px 20px;
  text-align: center;
}

/* Title */
.projects-title {
  font-size: 36px;
  color: var(--text);
  margin-bottom: 60px;
  padding: 20px 0;
}

/* Container */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Card */
.project-card {
  padding: 40px;
  border-radius: 14px;
  width: 400px;

  border: 1.5px solid var(--border);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);

  transition: all 0.3s ease;
}

/* Light mode only */
body.light .project-card {
  background: #e2e8f0;
}

body.dark .project-card {
  background: #223046;   /* slightly lighter than #0f172a */
}

/* Hover */
.project-card:hover {
  transform: translateY(-8px);

  border-color: var(--accent);

  box-shadow: 0 18px 45px rgba(59, 130, 246, 0.25);
}

/* Title */
.project-card h3 {
  color: var(--text);
  margin-bottom: 15px;
}

/* Description */
.project-card p {
  color: var(--muted);
  font-size: 14px;
  margin-bottom: 25px;
}

/* Buttons container */
.project-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Buttons */
.project-buttons button {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--card-bg);
  color: var(--text);
  cursor: pointer;  
  font-weight: 500;
  transition: 0.3s ease;
}

.project-buttons button:hover {
  background: var(--accent);
  color: rgb(36, 193, 232);
  transform: translateY(-2px);
}